* {
    box-sizing: border-box;
}

header > title {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: .5rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 0.15rem solid black;
}

body {
  background-color: #D8BFD8;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#game-canvas {
  background: white;
  border-radius: 5px;
}

.text-display {
  color: black;
  display: flex;
  justify-content: center;
}

#timer {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: .5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text-input {
  background-color: #D8BFD8;
  border: 2px solid white;
  outline: none;
  width: 100%;
  height: 4rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.text-input:focus {
  border-color: black;
}

.main-container {
  display: block;
  margin-top: -4rem;
}

.text-display {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text-input {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  mix-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: center;
  justify-content: center;
}

.game-canvas {
  display: flex;
  justify-content: center;
}

.scoreboard_level_timer {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
.scoreboard_text,
.level_text, .timer_text {
  text-decoration: underline;
  padding-bottom: .5rem;
}

#player_img {
  mix-blend-mode: multiply;
}

#popup {
  background-color: white;
  color:black;
  width: 1200px;
  height: 1000px;
  display: inline-block;
  margin-top: 150px;
  // z-index: 999;
  position: fixed;
  border-radius: 0.25rem;

  #game-instructions {
    display: flex;
    flex-direction: column;
    // background-color: green;
    height: 500px;
    // align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    // text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
  }

  #endgame-message {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
}

#start, #replay {
  // background-color: green;
  display: flex;
  justify-content: center;

  #start-button, #replay-button {
    width: 300px;
    height: 50px;
    background-color: #D8BFD8;
    border: none;
    font-size: 28px;
    border-radius: 0.25rem;

    &:hover {
      border: 2px solid #D8BFD8;
      background-color: white;
      color: black;
      text-decoration: underline;
    }
  }
}